<!-- ФОРМА КОНСУЛЬТАЦИИ -->
<section class="consult-section" id="consultSection">
  <div class="container consult-inner">
    <div class="consult-text">
      <h2>Получите консультацию<br>и расчет стоимости проекта</h2>
      <p>Заполните форму, и мы подготовим для вас<br>коммерческое предложение в течение 1 часа.</p>
    </div>
    <div class="consult-form">
      <div class="consult-grid">
        <div class="cf-field">
          <img src="/assets/icons/icon-phone.png" alt="">
          <input type="text" id="cName" placeholder=" введите ваше имя">
        </div>
        <div class="cf-field">
          <img src="/assets/icons/icon-phone.png" alt="">
          <input type="tel" id="cPhone" placeholder=" введите ваш телефон">
        </div>
      </div>
      <button class="btn-consult-submit" type="button" onclick="submitConsult()">Получить консультацию</button>
    </div>
  </div>
</section>
